@model EVotingSystem.Models.Vote

@{
    ViewData["Title"] = "Voting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card" style="margin-top:100px;">
    <div class="card-header">
        <strong>Votes</strong>
    </div>
    <form asp-action="Index" class="votecat">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="form-group">
                <select asp-for="Id" name="Id" class="form-control-sm form-control" asp-items="ViewBag.Vote"></select>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <input type="submit" value="Choose" class="btn btn-primary btn-block" />
            </div>
        </div>
    </form>
</div>
