@model IEnumerable<EVotingSystem.Models.Candidate>

@{
    ViewData["Title"] = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="vote.css">

<div class="votecontainer">


    <form asp-action="Vote" class="votecat col-md-7 col-11">


        @foreach (var item in Model)
        {
            <div class="elec">
                @Html.RadioButton("Id", item.Id, new { @style = "radio" })
                <img class="elecimg" src="karem.jpg" alt="">
                <h4 class="elecname">@Html.DisplayFor(modelItem => item.Name)</h4>
            </div>
            <!--<div class="form-group">
                @Html.RadioButton("Id", item.Id, new { @style = "radio" })
                <span>&nbsp;</span>
                @Html.DisplayFor(modelItem => item.Name)
            </div>-->
        }

        <div class="form-group">
            <input type="submit" value="Vote" class="btn btn-primary btn-lg" />
        </div>
    </form>

</div>