@model IEnumerable<EVotingSystem.Models.Candidate>

@{
    ViewData["Title"] = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card" style="margin-bottom:0;">

    <div class="card-header">
        <h3>
        Select One Candidate
        </h3>
    </div>
    <form asp-action="Vote" class="votecat">
        <div class="card-body">

                <div class="elec table-responsive table--no-card m-b-30">
                    
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th><strong>Name</strong></th>
                                <th><strong>Image</strong></th>
                                <th><strong>Select</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td><h4 class="elecname">@Html.DisplayFor(modelItem => item.Name)</h4></td>                            
                                <td><img class="elecimg rounded" src="@item.Picture" alt="" asp-append-version="true"></td>
                                <td>
                                    <label class="au-checkbox">
                                        @Html.RadioButton("Id", item.Id, new { @style = "radio" })
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
                

            <div class="form-group">
                <label class="control-label" for="confirmCode">
                    <strong>Confirmation Code</strong>
                </label>
                <input class="form-control" type="text"  name="confirmCode" id="confirmCode"/>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <input type="submit" value="Vote" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </form>

</div>